body {
    border: 2px solid #56CCF2;
    padding: 50px;
}

h1 {

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 157px;
color: #FEB326;
float: none;
width: auto;
}

h2 {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 97px;
color: #E84D8A;
}

h3 {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 77px;
color: #FEB326;
}

h4 {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 61px;
/* identical to box height */
color: #E84D8A;
}
h5{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 44px;
line-height: 53px;

color: #FEB326;
}
h6 {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
color: #56CCF2;
}

/* unvisited link */
a:link {
    color: #56CCF2;
  }
  
  /* visited link */
  a:visited {
    color: #FEB326;
  }
  
  /* mouse over link */
  a:hover {
    color: #E84D8A;
    ;
  }
  
  /* selected link */
  a:active {
    color: #FEB326;
  }

/* Blue 3 */

img {
  float: right;
}
.button:hover {
    background-color: #7F58AF; /* purple */
    color: white;
  }

  button {
    background-color: #56CCF2;
    border: 1px solid #56CCF2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 80px;
    list-style: none;
    max-width: 20em;
    align-items: center;
    justify-content: center;
    position: center;
  }

  .button:active {
    background-color: #56CCF2;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  ul {
    list-style-type: square;
    display: grid;
  }

  ol {
    display: grid;
  }

  nav {
    background-color: #000;
    padding: 0.5em;
    position: sticky;
    top: 0;
    margin: 4px;
    display: flex;
    justify-content: space-evenly;
    max-height: 1em;
    position: sticky;
    top: 0;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    color: #FEB326;

  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
    color: #FEB326;
  }


  /*desktop*/
  @media screen and (min-width: 1900px) and (min-height: 1100px) {
    nav, nav ul, nav a {
      display: flexbox;
    }
    button {
      float: center; /* Float the buttons side by side */
      display: flexbox;
      width: 400px;
    }
    ul {
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 10%;
      text-align: center;
    }
    ol {
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 10%;
      text-align: center;
    }
    }
  
/*mobile device*/
  @media screen and (max-width: 400px) and (max-height: 700px) {
    img{float: none; 
      display: flexbox;} 
    nav{display: grid;
      grid-template-rows: 1fr;
    }
    nav, nav ul, nav a {
      display: flexbox;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
    }
    body{
      display: flex;
      justify-content: space-between;
    }    
  }


