body {
    padding: 50px;
    background-color: #fafafa
}


h1 {

font-family: 'Comfortaa';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 100px;
color: #FEB326;
float: none;
width: auto;
}

h2 {
    font-family: 'Comfortaa';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 40px;
color: #E84D8A;
}

h3 {
    font-family: 'Comfortaa';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 77px;
color: #FEB326;
}

h4 {
    font-family: 'Comfortaa';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 61px;
/* identical to box height */
color: #E84D8A;
}
h5{
    font-family: 'Comfortaa';
font-style: normal;
font-weight: 400;
font-size: 44px;
line-height: 53px;

color: #FEB326;
}
h6 {
font-family: 'Comfortaa';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 48px;
color: #56CCF2;
text-align: center;
}

.experience {
  font-family: 'Raleway';
  font-size: 18px;
  line-height: 1.6;
}

p {
  font-family: 'Raleway';
}

/* unvisited link */
a:link {
    color: #56CCF2;
  }
  
  /* visited link */
  a:visited {
    color: #FEB326;
  }
  
  /* mouse over link */
  a:hover {
    color: #E84D8A;
  }
  
  /* selected link */
  a:active {
    color: #FEB326;
  }

/* Blue 3 */

img {
  float: right;
  margin: 20px;
  margin-right: 86px;
}
.btn-group:hover {
    background-color: #FEB326; /* purple */
    color: white;
  }



  button.btn-group {
    background-color: #56CCF2;
    border: 1px solid #56CCF2;
    font-family: 'Comfortaa';
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 80px;
    width: 8em;
    margin: 10px;
    display: block;
    margin-left: auto;    
    margin-right: auto;
    align-items: center;
  }

  .btn-group:active {
    background-color: #56CCF2;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

ul {
  list-style-type: square;
  font-family: "Comfortaa";
  font-size: 24px;
  line-height: 1.6;
}

object{
  width: 100%;
  padding: 2px;
}

  ol {
    display: grid;
    list-style-type: none;
  }

  nav {
    background-color: #000;
    position: sticky;
    top: 0;
    display: flex;
    font-family: 'Comfortaa';
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    padding: 8px;
  }

  #contact-form {
    text-align: center;
  }

  #education {
    text-align: center;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    color: #FEB326;
  }

  .column {
    float: left;
    width: 50%;
  }

  #resume {
    padding-top: 40px;
    width: 80%;
    height: 600px;
    margin: auto;
    position: relative;
    display: block;
    overflow: hidden;
  }

  .courses {
    list-style-type: disc;
    font-family: "Raleway";
  }

  #myProgress {
    width: 100%;
    background-color: #ddd;
  }
  
	/* 3*3 Grid */
	#b1, #b2, #b3, #b4, #b5,
	#b6, #b7, #b8, #b9 {
		width: 80px;
		height: 52px;
		margin: auto;
		border: 1px solid gray;
		border-radius: 6px;
		font-size: 30px;
		text-align: center;
	}

	/* Reset Button */
	#but {
		box-sizing: border-box;
		width: 95px;
		height: 40px;
		border: 1px solid dodgerblue;
		margin: auto;
		border-radius: 4px;
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;

		background-color: dodgerblue;
		color: white;
		font-size: 20px;
		cursor: pointer;
	}

	/* Player turn space */
  /*
	#print {
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;

		color: dodgerblue;
		font-size: 20px;
	}*/

	/* Main Container */
	#main {
		text-align: center;
	}

	/* Game Instruction Text */
	#ins {
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;
			
		color: dodgerblue;
		font-size: 17px;
	}


  #myBar {
    width: 1%;
    height: 30px;
    background-color: #04AA6D;
  }

  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .flexbox{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .snake {
    position: absolute;
    top: 1200px;
    left: 50%;
    transform: translate(-50%, -50%);
}
 /*snake game over animation*/ 
@keyframes wave {
  0%   { transform: scale(1); }
  50%  { transform: scale(2); }
  100% { transform: scale(1); } 
}

input.wave {
  animation: wave 0.4s cubic-bezier(.17, .67, .83, .67);
}

  /*desktop*/
  @media screen and (min-width: 1900px) and (min-height: 1100px) {


    .container {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    }
    
    /* Then style the iframe to fit in the container div with full height and width */
    .scaled-frame {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }


    #resume {
      width: 80%;
      height: 600px;
    }
    .btn-group{
      border-radius: 15px;
      justify-content: space-evenly;

    }
    }
  
/*mobile device*/
  @media screen and (max-width: 400px) and (max-height: 700px) {
 
    nav, nav ul, nav a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
    }
    body{
      display: flex;
      justify-content: space-between;
    }    
    #resume {
    width: 80%;
    height: 600px;       
    }
    }

  .btn-group--loading::after {
    content: "";
    position: absolute; 
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
      transform: rotate(0turn);
  }

  to {
      transform: rotate(1turn);
  }
}




