/* General page styles */

body {
  margin: 0;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: rgb(214, 181, 181);
}

/* Selectors to be matched up with rulesets */

.card article img
.card footer
.card header
.card

/* Rulesets to be matched up with selectors */ 

/* Write a ruleset that targets both the card header, and card footer, giving them 
both a computed total height of 50px (including a content height of 30px and padding of 10px on all sides.) 
But express it in ems. */

.card footer, .card header {
  height: 30px;
  padding: 10px;
}

/*card properties*/
.card {
  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: rgb(144, 3, 3);
  border: 0.2em solid black;
  border-radius: 1.5em;
}
/** header styles **/

.card header
{
  background-image: linear-gradient(to bottom,rgba(65, 1, 1, 0.1), rgba(225, 7, 7, 0));
  border-radius: 1.5em 1.5em 0 0;
}

/** footer styles **/

.card footer {
  background-image: linear-gradient(to bottom,rgba(184, 0, 0, 0), rgba(80, 2, 2, 0.1));
  border-radius: 0 0 1.5em 1.5em;
}

/** image styles **/

.card article img {
  max-height: 100%;
  height: 15em;
  width: 15em;
  float: right;
}