body {
    background-color: #36454F;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

nav a, h1, h2, button {
    font-family: 'Oswald', sans-serif;
    color: #FFD700;
}

h1, h2 {
    font-weight: 700;
}

p, li, a {
    font-weight: 300;
}
