body {
    background-color: #FAF9F6;
    color: #474747;
    font-family: 'Arial', sans-serif;
}

nav a, h1, h2 {
    font-family: 'Helvetica Neue', sans-serif;
    color: #89CFF0;
}

h1, h2 {
    font-weight: bold;
}
