body {
    background-color: #2E8B57;
    color: #F5F5DC;
    font-family: 'Source Sans Pro', sans-serif;
}

nav a, h1, h2 {
    font-family: 'Baskerville', serif;
    color: #E07A5F;
}

h1, h2 {
    font-weight: bold;
}
