body {
    background-color: #F5F5DC;
    color: #2F4F4F;
    font-family: 'Merriweather', serif;
}

nav a, h1, h2, button {
    font-family: 'Lato', sans-serif;
    color: #FF7F50;
}

h1 {
    font-weight: 700;
}

p, li, a {
    font-weight: 400;
}
