body {
    background-color: #2E2E2E;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

nav a, h1, h2 {
    font-family: 'Montserrat', sans-serif;
    color: #007BFF;
}

h1, h2 {
    font-weight: 700;
}
