body {
    background-color: #F5F5DC;
    color: #2F4F4F;
    font-family: 'Merriweather', serif;
}

nav a, h1, h2, button {
    font-family: 'Lato', sans-serif;
    color: #FF7F50;
}

h1 {
    font-weight: 700;
}

body, h1 {
    margin: 0; /* Removes default margins */
    padding: 0; /* Removes default padding */
}

h2 {
    font-weight: 500;
}

p, li, a {
    font-weight: 400;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    margin-top: 0; /* Ensure no additional margin is pushing the navbar down */
    background-color: #FFF; /* Adjust the background color if needed */
}


nav a {
    color: #FF7F50; /* Accent color for links from Design Idea 2 */
    text-decoration: none; /* Removes underline from links */
    font-weight: bold; /* Makes the text bold */
    font-family: 'Lato', sans-serif; /* Keeps the font consistent with the Design Idea 2 */
}

nav a:hover {
    color: #2F4F4F; /* Changes text color when hovering */
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px; /* Reduced padding from 20px to 10px */
    background-color: #F5F5DC;
}


#logo {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px;
}

header h1 {
    color: #2F4F4F; /* Text color from Design Idea 2 */
    font-family: 'Lato', sans-serif; /* Font from Design Idea 2 */
    margin: 0; /* no margin around the header text */
}

@media (max-width: 768px) {
    header {
        padding: 5px 10px; /* Smaller padding for mobile devices */
    }
    nav {
        padding: 5px 0;
    }
}
