body {
    background-color: #121212;
    color: #00FFFF;
    font-family: 'Arial', sans-serif;
}

nav a, h1, h2 {
    font-family: 'Futura', sans-serif;
    color: #FF00FF;
}

h1, h2 {
    font-weight: bold;
}
