/* General page styles */

body {
  margin: 0;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: rgb(214, 181, 181);
}

/* Selectors to be matched up with rulesets */

.card article img
.card footer
.card header
.card

/* Rulesets to be matched up with selectors */ 

/*card properties*/
.card {
  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: rgb(144, 3, 3);
  border: 0.2em solid black;
  border-radius: 1.5em;
}
/** header styles **/

.card header
{
  background-image: linear-gradient(to bottom,rgba(65, 1, 1, 0.1), rrgba(225, 7, 7, 0);
  border-radius: 1.5em 1.5em 0 0;
}

/** footer styles **/

.card footer {
  background-image: linear-gradient(to bottom,rgba(184, 0, 0, 0), rgba(80, 2, 2, 0.1));
  border-radius: 0 0 1.5em 1.5em;
}

/** image styles **/

.card article img {
  max-height: 100%;
  float: right;
  size: 2em;
}